#testimonials {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slide-grid {
  justify-content: center;
}

.testimonials {
  &__container {
    justify-items: center;
    gap: 1rem;
  }

  &__image-container {
    margin: auto;
    width: 100%;
    max-width: 325px;
    padding: 2rem;
    position: relative;

    &-bg {
      position: absolute;
      top: 0;
      right: 0;
    }

    &-img {
      z-index: 1;
      position: relative;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
  }

  &__data {
    text-align: center;
    position: relative;
    max-width: 500px;

    &-bg {
      position: absolute;
      width: 25%;
      left: 50%;
      transform: translateX(-50%);
    }

    &-paragraph {
      margin-top: 1.75rem;
      margin-bottom: 1rem;
    }

    &-name {
      display: block;
      font-weight: var(--font-bold);
      color: var(--dark-blue);
      font-size: var(--heading-font-size);
    }

    &-job {
      display: block;
      font-weight: var(--font-medium);
      color: var(--dark-blue);
      font-size: var(--heading-font-size);
    }
  }

  &__background {
    position: absolute;
    bottom: 0;
    left: 0;
    // width: 100%;
    z-index: -1;
  }
}

@include laptop {
  .slide-grid {
    align-items: center;
    grid-template-columns: repeat(8, 1fr);
  }
  .testimonials {
    &__image-container {
      max-width: 90%;
      padding: 3rem;
      text-align: center;

      grid-row: 1 / 2;
      grid-column: 4 / 9;

      &-bg {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
    }

    &__data {
      position: relative;
      text-align: left;
      max-width: 100%;
      padding: 0 4rem;
      z-index: 1;
      grid-row: 1 / 2;
      grid-column: 1 / 6;

      &-bg {
        width: auto;
        left: 30%;
      }
    }
  }
}
