@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

/* ========== Variables ========== */
:root {
  // Colors
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
  --white: hsl(0, 0%, 100%);

  // Fonts
  --normal-font-size: 1.125rem; // 18px
  --heading-font-size: 0.938rem; // 15px

  --font-normal: 300;
  --font-medium: 500;
  --font-bold: 700;

  --font-type: "Inter", sans-serif;
}

// Screen Sizes
$tablet: 576px;
$laptop: 768px;
$desktop: 1024px;

/* ========== Media Query Mixins ========== */
@mixin tablet {
  @media only screen and (min-width: $tablet) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (min-width: $laptop) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $desktop) {
    @content;
  }
}

// Change Fonts based on Device Size
@include desktop {
  :root {
    --normal-font-size: 2rem; // 18px
    --heading-font-size: 1.25rem; // 15px
  }
}

/* ========== Resets ========== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
